

.box5 {
    border: 2px solid rgb(181, 181, 181);
    border-radius: 20px;
    width: 340px;
    text-align: left;
    padding: 20px;
    p {
     font-weight: 340;
    }
}



.wrapper4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

     
        @media (max-width: 780px) {
            display: grid;
            grid-template-columns: 1fr;
        }
    
}


     

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


   
}