.card {
display: flex;
flex-direction: column;
gap: 8px;
img {
    max-width: 100%;
    border-radius: 20px;
    display: block;
}



h3 {
    font-size: 20px;
    margin-top: 8px;
}

b {
    font-size: 24px;
}
}

.link {
    color: black;
    text-decoration: none;
}